.textarea {
  border-radius: var(--border-radius-small);
  border: 1px solid var(--light);
  outline: none;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  padding: 3px;
  max-width: 100%;

  &:focus {
    border-color: var(--accent);
    box-shadow: 0 0 5px var(--accent);
  }
}
