.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  gap: var(--medium-gap);
  flex-direction: column;
  width: 200px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap)
}

.historyButtons {
  display: flex;
  gap: var(--small-gap)
}
